

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    width:100%;
    font-family: 'JetBrains Mono', monospace;
    color: #222;
    overflow-x: hidden;

    animation: gradient 55s ease infinite;

    --dot-bg: #ef7900;
    --dot-color: black;
    --dot-size: 1.4px;
    --dot-space: 22px;

    background:
    linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}


.btn-toggle:hover{
    transition: 0.3s ease;
    scale: 1.2;
    box-shadow: 0 0 60px 0 rgb(2, 2, 2,0.1);
}
.btn-toggle{
    position: fixed;
    top: 80px;
    right: 2px;
    z-index: 1000;
    background-color: rgb(255, 254, 254);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgb(2, 2, 2,0.1);
}

.btn-toggle img{
    width: 30px;
    height: 30px;
}

@media (prefers-color-scheme: dark) {
    /* defaults to dark theme */
    body {
      background-color: #222;
    }
    body.light-theme {
	    background-size: 400% 400%;
	    animation: gradient 55s ease infinite;
	    height: 100%;

        --dot-bg: black;
        --dot-color: white;
        --dot-size: 1px;
        --dot-space: 22px;
        background: linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space), linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),var(--dot-color);
    .nav{
        background-color: #ef7900;
    }

    .hero h1{

    
        text-shadow:#d45101 3px 4px 1px;
    
    }
}
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.hero{
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0;
}

.hero > *{
    font-family: 'JetBrains Mono', monospace;
    color: #fff;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}


.hero h2{
    font-size: 2vw;

    text-align: center;
    margin-top: 10px;

    width:fit-content;  
    overflow: hidden;
    
    white-space: nowrap;
    margin: 0 auto;

    animation: 
    typing 2.5s steps(30, end);

}

.hero h1{

    font-size: 8vw;
    text-align: center;
  
    width:fit-content;

    overflow: hidden;
    border-radius: 0.15em solid orange;
    white-space: nowrap;
    margin: 0 auto;

    text-shadow:#000000 3px 4px 1px;

    animation:
    typing 1.5s steps(20, end);
}

.hero p{

    font-size: 100%;
    font-size: 2vw;

    text-align: center;

    width:fit-content;
    overflow: hidden;
    
    white-space: nowrap;
    margin: 0 auto;

    animation: typing 2.5s steps(20, end);

}



.hero p span{
    font-size: 130%;
    font-weight: 700;
}   


.hero-content a{

    font-size:medium;
    font-weight: 500;

    text-decoration: none;
    color: #1f1c1c;

    padding: 2vw 4vw;
    margin: 2vw;

    border-radius:100px;
    background-color: rgb(255, 153, 0);
    box-shadow: 0 0 10px 0 rgb(2, 2, 2,0.1);

    animation: effect 2s infinite;
}

.hero-content a:hover{
    transition: 0.3s ease-in-out;
    scale: 1.1;

    border: white 2px solid;
    box-shadow: #fff 0px 0px 2px;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
/*//////////////////////////////////////////////// frame2 ////////////////////////////////////////////////*/
.frame2{

    z-index: 1000;
    overflow:hidden;
    
}
.frame2 > img{
    width: 100%;
    align-self: center;
    overflow-x: hidden;
    
    animation: move 50s ease infinite;
    z-index: 2;
}

@keyframes move {
    0% { transform: translateX(-5%) translateY(0%); }
    25% { transform: translateX(0%) translateY(5%); }
    50% { transform: translateX(5%) translateY(0%); }
    75% { transform: translateX(0%) translateY(-5%); }
    100% { transform: translateX(-5%) translateY(0%); }
}

@media (max-width: 800px) {
    .frame2 > img{
        width: 150vw;
    }
    .hero-content > h1{
        font-size: 4rem;
    }

    .hero-content h2{
        font-size: 2rem ;
    }

    .hero-content p{
        font-size:1.2rem;
    }
    .hero{
        margin-top: 20vh;
        margin-bottom: 20vh;
    }

    
}




