/* width */
::-webkit-scrollbar {
    width: 10px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #0c0c0c;
    border-left:  0.5px orange solid;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    transform:scaleY(0.5);
    background: #ef7900;
    border-radius: 20px;
    border: black solid 1.5px;
    scale: 1.2;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    scale: 1.5;
  }