*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #F7A144;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    overflow-x: hidden;
}


/* Configuring the navbar to highlight the events tab. */

@media(min-width: 916px){
    .navbar-content> :nth-child(3){
        background-color: #F7A144;
        padding: 0 10px;
    }
    /* Making the event tab highlighted. */
    .navbar-content> :nth-child(3) a{
        color: black;
    }
    /* Reversing hover effect. */
    .navbar-content> :nth-child(3) a:hover{
        background-color: #F7A144;
        color: black;
    }
    
}
.sidebar > :nth-child(3){
    background-color: black;
    color: aliceblue;
    padding: 0 10px;
    width: 100%;
}

